*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {

   /* Gray */
   --gray-100: 220 14.3% 95.9%;
   --gray-200: 220 13% 91%;
   --gray-300: 216 12.2% 83.9%;
   --gray-400: 217.9 10.6% 64.9%;
   --gray-500: 220 8.9% 46.1%;
   --gray-600: 215 13.8% 34.1%;
   --gray-700: 216.9 19.1% 26.7%;
   --gray-800: 215 27.9% 16.9%;
   --gray-900: 220.9 39.3% 11%;
   --gray-950: 224 71.4% 4.1%;

   /* Rose */
   --rose-100: 355.6 100% 94.7%;
   --rose-200: 352.7 96.1% 90%;
   --rose-300: 352.6 95.7% 81.8%;
   --rose-400: 351.3 94.5% 71.4%;
   --rose-500: 349.7 89.2% 60.2%;
   --rose-600: 346.8 77.2% 49.8%;
   --rose-700: 345.3 82.7% 40.8%;
   --rose-800: 343.4 79.7% 34.7%;
   --rose-900: 341.5 75.5% 30.4%;
   --rose-950: 343.1 87.7% 15.9%;
}

[data-theme="dark"] {
   /* Gray */
   --gray-100: 224 71.4% 4.1%;
   --gray-200: 220.9 39.3% 11%;
   --gray-300: 215 27.9% 16.9%;
   --gray-400: 216.9 19.1% 26.7%;
   --gray-500: 215 13.8% 34.1%;
   --gray-600: 220 8.9% 46.1%;
   --gray-700: 217.9 10.6% 64.9%;
   --gray-800: 216 12.2% 83.9%;
   --gray-900: 220 13% 91%;
   --gray-950: 220 14.3% 95.9%;

   /* Rose */
   --rose-950: 355.6 100% 94.7%;
   --rose-900: 352.7 96.1% 90%;
   --rose-800: 352.6 95.7% 81.8%;
   --rose-700: 351.3 94.5% 71.4%;
   --rose-600: 349.7 89.2% 60.2%;
   --rose-500: 346.8 77.2% 49.8%;
   --rose-400: 345.3 82.7% 40.8%;
   --rose-300: 343.4 79.7% 34.7%;
   --rose-200: 341.5 75.5% 30.4%;
   --rose-100: 343.1 87.7% 15.9%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   font-weight: normal;
}

ol,
ul {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}